@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Robotobold.ttf');
    font-weight: bold;
}

body {
    font-family: 'Roboto';
    min-width: 300px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}